.card {
  display: grid;
  grid-template-columns: 40% 1fr 54px;
  grid-template-rows: 15% 10% 12% 48% 15%;
  overflow: hidden;
  grid-auto-flow: column dense;
  font-family: 'Inter';
  color: black;
  width: 451px;
  height: 279px;
  padding: 0;
  line-height: normal;
  box-shadow: 0 4px 12px 0 #ccc;
}

.imgStyle {
  width: 100%;
  height: auto;
  align-self: flex-start;
}

.cardImg {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.cardInfo {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}

.cardInfo > * {
  text-align: start;
  padding-inline-start: 20px;
}

.card h5 {
  margin-block: 6px;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.movieRating {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 30px;
  height: 30px;
  margin: 10px;
  border: 2px solid #e9d100;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieRating > span {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}

.movieDate {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.tags {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  margin-block: 6px;
}

.movieDescription {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

.movieDescription p {
  margin-inline: 20px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.ratingStars {
  grid-column: 2 / 4;
  grid-row: 5 / 6;
  margin-block: 8px;
  text-align: center;
}

.error {
  padding-block: 16px;
}

@media (max-width: 575px) {
  .card {
    grid-template-columns: 70px 1fr 54px;
    grid-template-rows: 20% 10% 10% 45% 15%;
    overflow: hidden;
    grid-auto-flow: column dense;
    width: 388px;
    height: 245px;
  }

  .imgStyle {
    object-fit: cover;
    min-width: 100%;
  }

  .cardImg {
    width: 60px;
    height: 91px;
    grid-row: 1 / 4;
    margin: 10px;
  }

  .cardInfo {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }

  .cardInfo > * {
    padding-inline-start: 13px;
  }

  .tags {
    margin-block: 5px;
  }

  .movieDescription {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    margin-inline: 10px;
    margin-top: 10px;
  }

  .movieDescription p {
    margin: 0;
  }

  .ratingStars {
    text-align: right;
    margin-right: 16px;
  }
}
