.card {
  display: grid;
  grid-template-columns: 40% 1fr 54px;
  grid-template-rows: 15% 10% 12% 48% 15%;
  overflow: hidden;
  grid-auto-flow: column dense;
  font-family: 'Inter';
  color: black;
  width: 451px;
  height: 279px;
  padding: 0;
  line-height: normal;
  box-shadow: 0 4px 12px 0 #ccc;
}

.cardInfo {
  display: grid;
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  grid-template-columns: 1fr 54px;
  grid-template-rows: 1fr 1fr 1fr;
}

.cardInfo > * {
  text-align: start;
  padding-inline-start: 20px;
}

.card h5 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-block: 6px;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.movieRating {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 30px;
  height: 30px;
  margin: 10px;
  border: 2px solid #66e900;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieRating.rating5,
.movieRating.rating6 {
  border-color: #e9d100;
}

.movieRating.rating3,
.movieRating.rating4 {
  border-color: #e97e00;
}

.movieRating.rating0,
.movieRating.rating1,
.movieRating.rating2 {
  border-color: #e90000;
}

.movieRating > span {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}

.movieDate {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.movieDescription {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

.movieDescription p {
  margin-inline: 20px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.error {
  padding-block: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 575px) {
  .card {
    grid-template-columns: 70px 1fr 54px;
    grid-template-rows: 20% 10% 10% 45% 15%;
    overflow: hidden;
    grid-auto-flow: column dense;
    width: 388px;
    height: 245px;
  }

  .cardInfo {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }

  .cardInfo > * {
    padding-inline-start: 13px;
  }

  .tags {
    margin-block: 5px;
  }

  .movieDescription {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    margin-inline: 10px;
    margin-top: 10px;
  }

  .movieDescription p {
    margin: 0;
  }
}
