.ratingStars {
  grid-column: 2 / 4;
  grid-row: 5 / 6;
  margin-block: 8px;
  text-align: center;
}

@media screen and (max-width: 575px) {
  .ratingStars {
    text-align: right;
    margin-right: 16px;
  }
}
